*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow', sans-serif;
}
#one{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#one .one-title-area{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#one .one-title-area h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 55.2px;
    text-align: center;
    margin: 0;
    margin-bottom: 11px;
}
#one .one-title-area p{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135.4%;
    text-transform: capitalize;
}
#one .one-form-area input{
    outline: none;
    width: 100%;
    height: 54px;
    border-radius: 5px;
    padding: 17px 68px 17px 15px;
    background-color: white;
    color: #7B7B7BD9;
    border: none;
}
#one .one-form-area .button-area button{
    background-color: #C2021A;
    color: white;
    width: 129px;
    height: 54px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.2s all ease-in-out;
}
#one .one-form-area .button-area button:hover{
    background-color: #9E0014;
    color: white;
    cursor: pointer;
}
#two{
    background: #E7E7E7;
}
#two .about-robot{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#two .about-robot h2{
    text-align: center;
    color: #181818;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
}
#two .about-robot p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.36px;
    text-align: center;
    color: #6B6B6B;
}
#two .robot-card{
    margin-top: 52px;
}
#two .robot-card a{
    /* width: 300px; */
    display: flex;
    /* height: 359px; */
    flex-direction: column;
    /* justify-content: space-around; */
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(197, 197, 197, 0.2);
    border-radius: 10px;
    padding-left: 25px;
    transition: all 1s ease-in;
}
#two .robot-card a:hover{
    background: linear-gradient(199.89deg, #DB0520 8.54%, #8D0113 100.29%);    
    box-shadow: 0px 4px 12px rgba(197, 197, 197, 0.2);
}
#two .robot-card a:hover p{
    color: #FFFFFF;
}
#two .robot-card a:hover .headline p{
    color: #FFFFFF;
}
#two .robot-card a:hover .explain p{
    color: #FFFFFF;
}
#two .robot-card a:hover .img-side svg path{
    flood-color: #C2021A;
    lighting-color: #C2021A;
    stop-color: #C2021A;
    stroke: #C2021A;
}
#two .robot-card a:hover .img-side svg g circle{
   fill: #FFFFFF;
}
#two .robot-card a .img-side{
    width: 110px;
    object-fit: contain;
    margin-bottom: 25px;
    margin-top: 25px;
}
#two .robot-card a .headline{
    padding-right: 84px;
    /* border: 2px solid red; */
}
#two .robot-card a .headline p{
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    line-height: 21.94px;
    color: #181818;
    margin: 0;
}
#two .robot-card a .explain{
    margin-top: 15px;
}
#two .robot-card a .explain p{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: #5B5B5B;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.79px;
}
#two .robot-card a .card-button{
    margin: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #C2021A;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
}
#two .robot-card a .card-button i{
    margin-left: 25px;
}
#three{
    background: #E7E7E7;
}
#three .three-side-img img{
    width: 100%;
    object-fit: contain;
}
#three .three-side-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#three .three-side-title h2{
    font-weight: 600;
    font-size: 50px;
    line-height: 56px;
    width: 68%;
    margin: 0;
    margin-bottom: 20px;
}
#three .three-side-title p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #6B6B6B;
    margin: 0;
    margin-bottom: 20px;
}
#three .three-side-title a{
    background-color: #C2021A;
    color: white;
    width: 129px;
    height: 54px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
    font-weight: 600;
}
#three .three-side-title a:hover{
    background-color: #9E0014;
    color: white;
    cursor: pointer;
}
#four .four-left-side{
    margin-top: 200px;
    margin-bottom: 200px;
}
#four .four-left-side h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #181818;
    margin-bottom: 67px;
}
#four .four-left-side .accordion-top .accordion-items{
    margin-bottom: 54px;
}
#four .four-left-side .accordion-top .accordion-items button{
    width: 90%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
}
#four .four-left-side .accordion-top .accordion-items button[aria-expanded='true']{
    color: black;
}
#four .four-left-side .accordion-top .accordion-items button[aria-expanded='true']+.accordion-content{
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
#four .four-left-side .accordion-top .accordion-items button span {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    color: #181818;
}
#four .four-left-side .accordion-top .accordion-items button i {
    color: #C2021A;
    font-size: 18px;
}
#four .four-left-side .accordion-top .accordion-items .accordion-content{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
#four .four-left-side .accordion-top .accordion-items .accordion-content p{
    font-size: 18px;
    font-weight: 300;
    margin: 2em 0;
}
#four .four-right-side{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
#four .four-right-side .four-img-side{
    width: 240px;
}
#four .four-right-side .four-img-side img{
    width: 100%;
    object-fit: contain;
}
#four .four-right-side h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    margin-top: 60px;
}
#four .four-right-side p{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
    color: rgba(60, 60, 67, 0.85);
    margin: 0;
    margin-top: 10px;
}
#four .four-right-side form{
    width: 100%;
}
#four .four-right-side input {
    margin-top: 30px;
    outline: none;
    border: 1px solid #5B5B5B;
    padding: 10px 10px;
    border-radius: 5px;
    color: #5B5B5B;
    background-color: #F1F1F1;
    width: 100%;
}
#four .four-right-side .four-button-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
#four .four-right-side .four-button-side button{
    background-color: #C2021A;
    color: white;
    width: 129px;
    height: 54px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.2s all ease-in-out;
}
#four .four-right-side .four-button-side button:hover{
    background-color: #9E0014;
    color: white;
    cursor: pointer;
}

@media (max-width:768px) {
    #one .one-title-area p{
        text-align: center;
    }
    #one .one-form-area .one-form-input-area {
        margin-bottom: 10px;
    }
    #one .one-form-area .button-area button {
        width: 100% !important;
    }
    #two .robot-card a {
        padding-right: 25px;
    }
    #two .robot-card a .img-side {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    #two .robot-card a .headline {
        text-align: center;
        padding-right: unset !important;
    }
    #two .robot-card a .explain {
        text-align: center;
    }
    #two .robot-card a .card-button {
        text-align: right;
    }
    #three{
        padding-bottom: 40px !important;
    }
    #three .three-side-img {
        margin-bottom: 15px;
    }
    #three .three-side-title {
        order: 2;
    }
    #three .three-side-title h2 {
        font-size: 40px;
        width: 100%;
    }
    #three .three-side-title .three-button {
        width: 100%;
    }
    #four .four-left-side {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #four .four-right-side{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}